---

---

<header
  class="fixed w-full top-0 z-50 bg-white bg-opacity-30 bg-clip-padding backdrop-filter backdrop-blur-xl py-2 px-4"
>
  <nav
    role="navigation"
    class="navbar container mx-auto relative flex flex-wrap items-center justify-between uppercase"
  >
    <!-- Logo replaced with Text -->
    <div class="order-0 mr-8">
      <a href="/finite-automata-lab/" class="text-2xl font-bold text-violet-950"
        >TBA Project</a
      >
      <span class="sr-only">Home</span>
    </div>
    <div class="order-1 ml-8">
      <a href="/finite-automata-lab/" class="text-2xl font-bold text-violet-950"
        >Finite Automata</a
      >
      <span class="sr-only">Home</span>
    </div>
  </nav>
</header>
