---
// automaton-test.astro
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Test Automata">
  <main class="container mx-auto my-4 py-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">Automata Test</h1>
    <div class="flex justify-center mb-8">
      <button
        id="btnDFA"
        data-automaton-type="dfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-white">DFA</button
      >
      <button
        id="btnNFA"
        data-automaton-type="nfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-white">NFA</button
      >
      <button
        id="btnENFA"
        data-automaton-type="enfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-white">E-NFA</button
      >
      <button
        id="btnRegex"
        data-automaton-type="regex"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-white">Regex</button
      >
    </div>
    <div id="formDFA" class="hidden space-y-4 bg-white sm:p-8 p-6 mx-4 rounded shadow">
      <h2 class="text-2xl font-bold mb-4">
        Deterministic Finite Automaton (DFA)
      </h2>

      <label for="dfaStates" class="block mb-2">States (comma-separated):</label
      >
      <input
        id="dfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated):</label
      >
      <input
        id="dfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="dfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >
      <input
        id="dfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="dfaTransitionsDiv" class="space-y-2"></div>

      <label for="dfaInput" class="block mb-2">Test String:</label>
      <input
        id="dfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2 mr-2"
      />
      <button
        id="dfaTestButton"
        class="px-4 py-2 bg-violet-800 text-white rounded-md"
        >Test String</button
      >
      <div id="dfaResult"></div>
    </div>

    <!-- form NFA -->
    <div
      id="formNFA"
      class="bg-white sm:p-8 p-6 mx-4 rounded shadow hidden space-y-4"
    >
      <h2 class="text-2xl font-bold mb-4">
        Non-Deterministic Finite Automaton (NFA)
      </h2>
      <label for="nfaStates" class="block mb-2">States (comma-separated):</label
      >
      <input
        id="nfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated):</label
      >
      <input
        id="nfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="nfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >
      <input
        id="nfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="nfaTransitionsDiv" class="space-y-2"></div>

      <label for="nfaTestString" class="block mb-2">Test String:</label>
      <input
        id="nfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2 mr-2"
      />
      <button
        id="nfaTestButton"
        class="px-4 py-2 bg-violet-800 text-white rounded-md"
        >Test String</button
      >
      <div id="nfaResult"></div>
    </div>

    <!--form ENFA  -->
    <div
      id="formENFA"
      class="hidden space-y-4 bg-white sm:p-8 p-6 mx-4 rounded shadow"
    >
      <h2 class="text-2xl font-bold mb-4">
        epsilon Non-Deterministic Finite Automaton (ε-NFA)
      </h2>
      <label for="enfaStates" class="block mb-2"
        >States (comma-separated):</label
      >
      <input
        id="enfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated, include ε for epsilon):</label
      >
      <input
        id="enfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="enfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >

      <input
        id="enfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="enfaTransitionsDiv" class="space-y-2"></div>

      <label for="enfaInput" class="block mb-2">Test String:</label>
      <input
        id="enfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2 mr-2"
      />
      <button
        id="enfaTestButton"
        class="px-4 py-2 bg-violet-800 text-white rounded-md"
        >Test String</button
      >
      <div id="enfaResult"></div>
    </div>

    <!-- form Regex -->
    <div
      id="formRegex"
      class="bg-white sm:p-8 p-6 mx-4 rounded shadow hidden space-y-4"
    >
      <h2 class="text-2xl font-bold mb-4">Regular Expression (Regex)</h2>
      <label for="regexPattern" class="block mb-2">Regex Pattern:</label>
      <input
        id="regexPattern"
        type="text"
        placeholder="Enter regex pattern"
        class="bg-white rounded-md border p-2"
      />

      <label for="regexInput" class="block mb-2">Test String:</label>
      <input
        id="regexInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2 mr-2"
      />

      <button
        id="regexTestButton"
        class="px-4 py-2 bg-violet-800 text-white rounded-md">Test Regex</button
      >
      <div id="regexResult" class="mb-8"></div>
    </div>

    <!-- script -->
    <script>
      document.getElementById("btnDFA").addEventListener("click", function () {
        showForm("formDFA");
      });
      document.getElementById("btnNFA").addEventListener("click", function () {
        showForm("formNFA");
      });
      document.getElementById("btnENFA").addEventListener("click", function () {
        showForm("formENFA");
      });
      document
        .getElementById("btnRegex")
        .addEventListener("click", function () {
          showForm("formRegex");
        });

      function showForm(formId) {
        const forms = ["formDFA", "formNFA", "formENFA", "formRegex"];
        forms.forEach((f) =>
          document.getElementById(f).classList.add("hidden")
        );
        document.getElementById(formId).classList.remove("hidden");
      }
    </script>
    <script src="../script/_5-automaton-test/form-handler-test.js"></script>
    <script src="../script/_5-automaton-test/nfa-test.js"></script>
    <script src="../script/_5-automaton-test/dfa-test.js"></script>
    <script src="../script/_5-automaton-test/enfa-test.js"></script>
    <script src="../script/_5-automaton-test/regex-test.js"></script>
  </main>
</Layout>
