---
// automaton-test.astro
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Test Automata">
  <main class="container mx-auto my-4 py-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">Automata Test</h1>
    <div class="flex justify-center gap-2 mb-8 mx-4">
      <button
        id="btnDFA"
        data-automaton-type="dfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-transparent hover:border-white rounded transition duration-200 ease-in-out"
        >DFA</button
      >
      <button
        id="btnNFA"
        data-automaton-type="nfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-transparent hover:border-white rounded transition duration-200 ease-in-out"
        >NFA</button
      >
      <button
        id="btnENFA"
        data-automaton-type="enfa"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-transparent hover:border-white rounded transition duration-200 ease-in-out"
        >E-NFA</button
      >
      <button
        id="btnRegex"
        data-automaton-type="regex"
        class="px-4 py-2 bg-violet-800 hover:bg-violet-600 text-white border border-transparent hover:border-white rounded transition duration-200 ease-in-out"
        >Regex</button
      >
    </div>

    <div
      id="formDFA"
      class="hidden space-y-4 bg-white sm:p-8 p-6 mx-4 rounded shadow"
    >
      <h2 class="text-2xl font-bold mb-4">
        Deterministic Finite Automaton (DFA)
      </h2>

      <label for="dfaStates" class="block mb-2">States (comma-separated):</label
      >
      <input
        id="dfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated):</label
      >
      <input
        id="dfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="dfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="dfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >
      <input
        id="dfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="dfaTransitionsDiv" class="space-y-2"></div>

      <label for="dfaInput" class="block mb-2">Test String:</label>
      <input
        id="dfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2"
      />
      <!--Button Content  -->
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-4 justify-between">
        <div>
          <button
            id="drawDFAButton"
            type="button"
            data-automaton-type="dfa"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-pen-tool"
              ><path
                d="M15.707 21.293a1 1 0 0 1-1.414 0l-1.586-1.586a1 1 0 0 1 0-1.414l5.586-5.586a1 1 0 0 1 1.414 0l1.586 1.586a1 1 0 0 1 0 1.414z"
              ></path><path
                d="m18 13-1.375-6.874a1 1 0 0 0-.746-.776L3.235 2.028a1 1 0 0 0-1.207 1.207L5.35 15.879a1 1 0 0 0 .776.746L13 18"
              ></path><path d="m2.3 2.3 7.286 7.286"></path><circle
                cx="11"
                cy="11"
                r="2"></circle></svg
            >Draw Graph</button
          >
          <button
            id="dfaTestButton"
            class="px-4 py-2 my-1 mx-1 inline-flex items-center justify-center bg-violet-800 text-white rounded-md"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-flask-conical"
              ><path
                d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"
              ></path><path d="M8.5 2h7"></path><path d="M7 16h10"></path></svg
            >Test String</button
          >
        </div>
        <div>
          <button
            id="exampleDFAButton"
            data-automaton-type="dfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-shuffle"
              ><path
                d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"
              ></path><path d="m18 2 4 4-4 4"></path><path
                d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"></path><path
                d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"></path><path
                d="m18 14 4 4-4 4"></path></svg
            >Example</button
          >
          <button
            id="resetDFAButton"
            data-automaton-type="dfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-trash-2"
              ><path d="M3 6h18"></path><path
                d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
                d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
                x1="10"
                x2="10"
                y1="11"
                y2="17"></line><line x1="14" x2="14" y1="11" y2="17"
              ></line></svg
            >
            Reset</button
          >
        </div>
      </div>

      <div id="dfaResult" class="mb-8 p-2 rounded-md"></div>
      <div id="graphDFA" class="mt-4"></div>
    </div>

    <!-- form NFA -->
    <div
      id="formNFA"
      class="bg-white sm:p-8 p-6 mx-4 rounded shadow hidden space-y-4"
    >
      <h2 class="text-2xl font-bold mb-4">
        Non-Deterministic Finite Automaton (NFA)
      </h2>
      <label for="nfaStates" class="block mb-2">States (comma-separated):</label
      >
      <input
        id="nfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated):</label
      >
      <input
        id="nfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="nfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="nfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >
      <input
        id="nfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="nfaTransitionsDiv" class="space-y-2"></div>

      <label for="nfaTestString" class="block mb-2">Test String:</label>
      <input
        id="nfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2"
      />

      <!--Button Content  -->
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-4 justify-between">
        <div>
          <button
            id="drawNFAButton"
            data-automaton-type="nfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-pen-tool"
              ><path
                d="M15.707 21.293a1 1 0 0 1-1.414 0l-1.586-1.586a1 1 0 0 1 0-1.414l5.586-5.586a1 1 0 0 1 1.414 0l1.586 1.586a1 1 0 0 1 0 1.414z"
              ></path><path
                d="m18 13-1.375-6.874a1 1 0 0 0-.746-.776L3.235 2.028a1 1 0 0 0-1.207 1.207L5.35 15.879a1 1 0 0 0 .776.746L13 18"
              ></path><path d="m2.3 2.3 7.286 7.286"></path><circle
                cx="11"
                cy="11"
                r="2"></circle></svg
            >Draw Graph</button
          >
          <button
            id="nfaTestButton"
            class="px-4 py-2 my-1 mx-1 inline-flex items-center justify-center bg-violet-800 text-white rounded-md"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-flask-conical"
              ><path
                d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"
              ></path><path d="M8.5 2h7"></path><path d="M7 16h10"></path></svg
            >Test String</button
          >
        </div>
        <div>
          <button
            id="exampleNFAButton"
            data-automaton-type="nfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-shuffle"
              ><path
                d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"
              ></path><path d="m18 2 4 4-4 4"></path><path
                d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"></path><path
                d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"></path><path
                d="m18 14 4 4-4 4"></path></svg
            >Example</button
          >
          <button
            id="resetNFAButton"
            data-automaton-type="dfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-trash-2"
              ><path d="M3 6h18"></path><path
                d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
                d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
                x1="10"
                x2="10"
                y1="11"
                y2="17"></line><line x1="14" x2="14" y1="11" y2="17"
              ></line></svg
            >Reset</button
          >
        </div>
      </div>
      <div id="nfaResult" class="mb-8 p-2 rounded-md"></div>
      <div id="graphNFA" class="mt-4"></div>
    </div>

    <!--form ENFA  -->
    <div
      id="formENFA"
      class="hidden space-y-4 bg-white sm:p-8 p-6 mx-4 rounded shadow"
    >
      <h2 class="text-2xl font-bold mb-4">
        epsilon Non-Deterministic Finite Automaton (ε-NFA)
      </h2>
      <label for="enfaStates" class="block mb-2"
        >States (comma-separated):</label
      >
      <input
        id="enfaStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaAlphabet" class="block mb-2"
        >Alphabet (comma-separated, include eps for ε : epsilon):</label
      >
      <input
        id="enfaAlphabet"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaInitialState" class="block mb-2">Initial State:</label>
      <input
        id="enfaInitialState"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <label for="enfaFinalStates" class="block mb-2"
        >Final States (comma-separated):</label
      >

      <input
        id="enfaFinalStates"
        type="text"
        class="bg-white rounded-md border p-2"
      />

      <!-- Transition Table will be dynamically generated based on states and alphabet -->
      <div id="enfaTransitionsDiv" class="space-y-2"></div>

      <label for="enfaInput" class="block mb-2">Test String:</label>
      <input
        id="enfaInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2"
      />

      <!--Button Content  -->
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-4 justify-between">
        <div>
          <button
            id="drawENFAButton"
            data-automaton-type="enfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-pen-tool"
              ><path
                d="M15.707 21.293a1 1 0 0 1-1.414 0l-1.586-1.586a1 1 0 0 1 0-1.414l5.586-5.586a1 1 0 0 1 1.414 0l1.586 1.586a1 1 0 0 1 0 1.414z"
              ></path><path
                d="m18 13-1.375-6.874a1 1 0 0 0-.746-.776L3.235 2.028a1 1 0 0 0-1.207 1.207L5.35 15.879a1 1 0 0 0 .776.746L13 18"
              ></path><path d="m2.3 2.3 7.286 7.286"></path><circle
                cx="11"
                cy="11"
                r="2"></circle></svg
            >Draw Graph</button
          >
          <button
            id="enfaTestButton"
            class="px-4 py-2 my-1 mx-1 inline-flex items-center justify-center bg-violet-800 text-white rounded-md"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-flask-conical"
              ><path
                d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"
              ></path><path d="M8.5 2h7"></path><path d="M7 16h10"></path></svg
            >Test String</button
          >
        </div>
        <div>
          <button
            id="exampleENFAButton"
            data-automaton-type="enfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-shuffle"
              ><path
                d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"
              ></path><path d="m18 2 4 4-4 4"></path><path
                d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"></path><path
                d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"></path><path
                d="m18 14 4 4-4 4"></path></svg
            >Example</button
          >
          <button
            id="resetENFAButton"
            data-automaton-type="dfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-trash-2"
              ><path d="M3 6h18"></path><path
                d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
                d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
                x1="10"
                x2="10"
                y1="11"
                y2="17"></line><line x1="14" x2="14" y1="11" y2="17"
              ></line></svg
            >Reset</button
          >
        </div>
      </div>
      <div id="enfaResult" class="mb-8 p-2 rounded-md"></div>
      <div id="graphENFA" class="mt-4"></div>
    </div>

    <!-- form Regex -->
    <div
      id="formRegex"
      class="bg-white sm:p-8 p-6 mx-4 rounded shadow hidden space-y-4"
    >
      <h2 class="text-2xl font-bold mb-4">Regular Expression (Regex)</h2>
      <label for="regexPattern" class="block mb-2">Regex Pattern:</label>
      <input
        id="regexPattern"
        type="text"
        placeholder="Enter regex pattern"
        class="bg-white rounded-md border p-2"
      />

      <label for="regexInput" class="block mb-2">Test String:</label>
      <input
        id="regexInput"
        type="text"
        placeholder="Enter test string"
        class="bg-white rounded-md border p-2"
      />

      <!--Button Content  -->
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-4 justify-between">
        <div>
          <button
            id="regexTestButton"
            class="px-4 py-2 my-1 mx-1 inline-flex items-center justify-center bg-violet-800 text-white rounded-md"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-flask-conical"
              ><path
                d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"
              ></path><path d="M8.5 2h7"></path><path d="M7 16h10"></path></svg
            >Test Regex</button
          >
        </div>
        <div>
          <button
            id="exampleREGEXButton"
            data-automaton-type="regex"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-shuffle"
              ><path
                d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"
              ></path><path d="m18 2 4 4-4 4"></path><path
                d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"></path><path
                d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"></path><path
                d="m18 14 4 4-4 4"></path></svg
            >Example</button
          >
          <button
            id="resetREGEXutton"
            data-automaton-type="dfa"
            type="button"
            class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 lucide lucide-trash-2"
              ><path d="M3 6h18"></path><path
                d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
                d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
                x1="10"
                x2="10"
                y1="11"
                y2="17"></line><line x1="14" x2="14" y1="11" y2="17"
              ></line></svg
            >Reset</button
          >
        </div>
      </div>

      <div id="regexResult" class="mb-8 p-2 rounded-md"></div>
    </div>

    <!-- script -->
    <script>
      document.getElementById("btnDFA").addEventListener("click", function () {
        showForm("formDFA");
      });
      document.getElementById("btnNFA").addEventListener("click", function () {
        showForm("formNFA");
      });
      document.getElementById("btnENFA").addEventListener("click", function () {
        showForm("formENFA");
      });
      document
        .getElementById("btnRegex")
        .addEventListener("click", function () {
          showForm("formRegex");
        });

      function showForm(formId) {
        const forms = ["formDFA", "formNFA", "formENFA", "formRegex"];
        forms.forEach((f) =>
          document.getElementById(f).classList.add("hidden")
        );
        document.getElementById(formId).classList.remove("hidden");
      }
    </script>
    <script src="../script/_5-automaton-test/form-handler-test.js"></script>
    <script src="../script/_5-automaton-test/nfa-test.js"></script>
    <script src="../script/_5-automaton-test/dfa-test.js"></script>
    <script src="../script/_5-automaton-test/enfa-test.js"></script>
    <script src="../script/_5-automaton-test/regex-test.js"></script>
    <script src="../script/_5-automaton-test/util5.js"></script>
    <script src="../script/_5-automaton-test/automata-drawer-test.js"></script>
  </main>
</Layout>
