---
// convert-nfa-to-dfa.astro
import Layout from "src/layouts/Layout.astro";
---

<Layout title="NFA to DFA">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">
      Convert NFA to DFA
    </h1>
    <div class="bg-white p-6 rounded shadow">
      <!-- INPUT CONTENT -->
      <div class="px-8 py-8">
        <form id="automataForm" class="space-y-4">
          <div>
            <label for="states" class="block mb-2"
              >States (comma-separated):</label
            >
            <input id="states" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="alphabet" class="block mb-2"
              >Alphabet (comma-separated):</label
            >
            <input id="alphabet" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="initialState" class="block mb-2">Initial State:</label>
            <input
              id="initialState"
              type="text"
              class="rounded-md border p-2"
            />
          </div>
          <div>
            <label for="finalState" class="block mb-2"
              >Final States (comma-separated):</label
            >
            <input id="finalState" type="text" class="rounded-md border p-2" />
          </div>
          <div id="transitionsDiv" class="space-y-2">
            <!-- Transitions will be inserted here by JS -->
          </div>

          <!-- button convert -->
          <button
            type="button"
            id="convertButton"
            class="bg-blue-500 text-white px-4 py-2 rounded-md"
            >Convert to DFA
          </button>
        </form>
      </div>
      <div id="dfaTransitions"></div>

      <!-- GRAPH CONTENT -->
    </div>
    <script src="../script/automaton-drawer.js"></script>
    <script src="../script/_1-convert-nfa-enfa-to-dfa/nfa-to-dfa.js"></script>
    <script src="../script/util.js"></script>
  </main>
</Layout>
