---
// convert-nfa-to-dfa.astro
import Layout from "src/layouts/Layout.astro";
---

<Layout title="NFA to DFA">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">
      Convert NFA to DFA
    </h1>
    <div class="bg-white rounded shadow">
      <!-- INPUT CONTENT -->
      <div class="px-8 py-8">
        <h2 class="text-2xl font-bold mb-4">Input NFA/ε-NFA</h2>
        <form id="automataForm" class="space-y-4">
          <div>
            <label for="states" class="block mb-2"
              >States (comma-separated):</label
            >
            <input id="states" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="alphabet" class="block mb-2"
              >Alphabet (comma-separated) (inludes eps for ε : epsilon):</label
            >
            <input id="alphabet" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="initialState" class="block mb-2">Initial State:</label>
            <input
              id="initialState"
              type="text"
              class="rounded-md border p-2"
            />
          </div>
          <div>
            <label for="finalState" class="block mb-2"
              >Final States (comma-separated):</label
            >
            <input id="finalState" type="text" class="rounded-md border p-2" />
          </div>
          <div id="transitionsDiv" class="space-y-2">
            <!-- Transitions will be inserted here by JS -->
          </div>
          <div class="flex gap-4 justify-between">
            <div>
              <button
                id="convertButtonToDFA"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Convert to DFA</button
              >
            </div>
            <div>
              <button
                id="exampleButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Example</button
              >
              <button
                id="resetButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Reset</button
              >
            </div>
          </div>
        </form>
      </div>
      <div id="dfaTransitions"></div>
    </div>
    <!-- GRAPH CONTENT -->
    <div class="flex flex-col sm:flex-row px-8 gap-6 justify-around">
      <div class="w-full sm:w-1/2 text-center justify-center items-center">
        <div id="graphNFA" class="mt-8"></div>
      </div>
      <div class="w-full sm:w-1/2 text-center justify-center items-center">
        <div id="graphDFA" class="mt-8"></div>
      </div>
    </div>
    <div id="dfaTable"></div>

    <script src="../script/automaton-drawer.js"></script>
    <script src="../script/form-handler.js"></script>
    <script src="../script/_1-convert-nfa-enfa-to-dfa/nfa-to-dfa.js"></script>
    <script src="../script/_1-convert-nfa-enfa-to-dfa/util1.js"></script>
  </main>
</Layout>
