---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Minimize DFA">
  <main class="container mx-auto my-4 pt-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">Minimize DFA</h1>
    <div class="bg-white sm:p-6 p-2 mx-4 rounded shadow">
      <!-- INPUT CONTENT -->
      <div class="px-8 py-8">
        <form id="automataForm" class="space-y-4">
          <div>
            <label for="states" class="block mb-2"
              >States (comma-separated):</label
            >
            <input id="states" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="alphabet" class="block mb-2"
              >Alphabet (comma-separated):</label
            >
            <input id="alphabet" type="text" class="rounded-md border p-2" />
          </div>
          <div>
            <label for="initialState" class="block mb-2">Initial State:</label>
            <input
              id="initialState"
              type="text"
              class="rounded-md border p-2"
            />
          </div>
          <div>
            <label for="finalState" class="block mb-2"
              >Final States (comma-separated):</label
            >
            <input id="finalState" type="text" class="rounded-md border p-2" />
          </div>
          <div id="transitionsDiv" class="space-y-2">
            <!-- Transitions will be inserted here by JS -->
          </div>
          <!-- Button Content -->
          <div class="flex gap-4 justify-between">
            <div>
              <button
                id="minimizeButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Minimize DFA</button
              >
              <button
                id="tableFillingButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
              >
                Minimize DFA (Table Filling)
              </button>
            </div>
            <div>
              <button
                id="exampleButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Example</button
              >
              <button
                id="resetButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Reset</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="testDfaContent" class="hidden">
      <div class="ml-4 mt-8">
        <label for="testStringOriginal">Test input for original DFA:</label>
        <input
          id="testStringOriginal"
          type="text"
          placeholder="Enter test string"
          class="border rounded-md p-2"
        />
        <button
          id="testButtonOriginal"
          class="mx-1 my-2 rounded-md bg-violet-800 hover:bg-violet-600 text-white px-4 py-2"
        >
          Test Original
        </button>
        <div id="resultOriginal"></div>
      </div>

      <div class="ml-4 mt-8">
        <label for="testStringMinimized">Test input for minimized DFA:</label>
        <input
          id="testStringMinimized"
          type="text"
          placeholder="Enter test string"
          class="border rounded-md p-2"
        />
        <button
          id="testButtonMinimized"
          class="mx-1 my-2 rounded-md bg-violet-800 hover:bg-violet-600 text-white px-4 py-2"
        >
          Test Minimized
        </button>
        <div id="resultMinimized"></div>
      </div>
    </div>

    <!-- GRAPH CONTENT -->
    <div class="flex flex-col sm:flex-row px-8 gap-6 justify-around">
      <div class="w-full sm:w-1/2 text-center justify-center items-center">
        <div id="graphResult" class="mt-8"></div>
      </div>
      <div class="w-full sm:w-1/2 text-center justify-center items-center">
        <div id="minimizedGraph" class="mt-8"></div>
      </div>
    </div>
    <div id="equivalenceSteps" class="mt-8 p-4"></div>
    <div id="tableFillingSteps" class="mt=8 p-4"></div>
  </main>

  <!-- <script src="../script/automaton-drawer.js"></script> -->
  <script src="../script/form-handler.js"></script>
  <script src="../script/_3-minimize-dfa/dfa-minimizer.js"></script>
  <script src="../script/_3-minimize-dfa/dfa-table-filling.js"></script>
  <script src="../script/_3-minimize-dfa/test-dfa.js"></script>
  <script src="../script/_3-minimize-dfa/util3.js"></script>
</Layout>
