---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Regex to NFA">
  <main class="container mx-auto my-4 pt-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">Regex to NFA</h1>
    <div class="bg-white sm:p-6 p-2 mx-4 rounded shadow">
      <!-- INPUT CONTENT -->
      <div class="px-8 py-8">
        <form id="formRegex" class="space-y-4">
          <label for="regexPattern" class="block mb-2">Regex Pattern:</label>
          <input
            id="regexPattern"
            type="text"
            placeholder="Enter regex pattern"
            class="bg-white rounded-md border p-2"
          />
          <!-- Button Content -->
          <div class="flex gap-4 justify-between">
            <div>
              <button
                id="convertRegex"
                class="px-4 py-2 bg-violet-800 text-white rounded-md"
                >Convert Regex</button
              >
            </div>
            <div>
              <button
                id="exampleRegexButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Example</button
              >
              <button
                id="resetRegexButton"
                type="button"
                class="rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                >Reset</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- NFA transition table & initial, final state -->
    <div id="nfaResult" class="pb-8 mx-4 "></div>
    <!-- graph NFA -->
    <div class="flex w-full text-center justify-center items-center">
      <div
        id="graphRegexNFA"
        class="w-full min-h-full my-4 justify-center items-center"
      >
      </div>
    </div>
  </main>

  <script src="../script/_2-regex-to-nfa/regex-to-nfa.js"></script>
  <script src="../script/_2-regex-to-nfa/util2.js"></script>
</Layout>
