---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Regex to NFA">
  <main class="container mx-auto my-4 pt-8">
    <h1 class="text-4xl font-bold text-center mt-16 mb-6">Regex to NFA</h1>
    <div class="bg-white sm:p-6 p-2 mx-4 rounded shadow">
      <!-- INPUT CONTENT -->
      <div class="px-8 py-8">
        <form id="formRegex" class="space-y-4">
          <label for="regexPattern" class="block mb-2">Regex Pattern:</label>
          <input
            id="regexPattern"
            type="text"
            placeholder="Enter regex pattern"
            class="bg-white rounded-md border p-2"
          />
          <!-- Button Content -->
          <div class="flex flex-col sm:flex-row gap-1 sm:gap-1 justify-between">
            <div>
              <button
                id="convertRegex"
                class="px-4 py-2 my-1 mx-1 bg-violet-800 text-white inline-flex items-center justify-center rounded-md"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="mr-2 lucide lucide-pen-tool"
                  ><path
                    d="M15.707 21.293a1 1 0 0 1-1.414 0l-1.586-1.586a1 1 0 0 1 0-1.414l5.586-5.586a1 1 0 0 1 1.414 0l1.586 1.586a1 1 0 0 1 0 1.414z"
                  ></path><path
                    d="m18 13-1.375-6.874a1 1 0 0 0-.746-.776L3.235 2.028a1 1 0 0 0-1.207 1.207L5.35 15.879a1 1 0 0 0 .776.746L13 18"
                  ></path><path d="m2.3 2.3 7.286 7.286"></path><circle
                    cx="11"
                    cy="11"
                    r="2"></circle></svg
                >Convert Regex</button
              >
            </div>
            <div>
              <button
                id="exampleRegexButton"
                type="button"
                class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="mr-2 lucide lucide-shuffle"
                  ><path
                    d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"
                  ></path><path d="m18 2 4 4-4 4"></path><path
                    d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"></path><path
                    d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"></path><path
                    d="m18 14 4 4-4 4"></path></svg
                >Example</button
              >
              <button
                id="resetRegexButton"
                type="button"
                class="inline-flex items-center justify-center rounded-md px-4 py-2 my-1 mx-1 bg-violet-800 hover:bg-violet-600 text-white"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="mr-2 lucide lucide-trash-2"
                  ><path d="M3 6h18"></path><path
                    d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
                    d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
                    x1="10"
                    x2="10"
                    y1="11"
                    y2="17"></line><line x1="14" x2="14" y1="11" y2="17"
                  ></line></svg
                >Reset</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- NFA transition table & initial, final state -->
    <div id="nfaResult" class="pb-8 mx-4"></div>
    <!-- graph NFA -->
    <div class="flex w-full text-center justify-center items-center">
      <div
        id="graphRegexNFA"
        class="w-full min-h-full my-4 justify-center items-center"
      >
      </div>
    </div>
  </main>

  <script src="../script/_2-regex-to-nfa/regex-to-nfa.js"></script>
  <script src="../script/_2-regex-to-nfa/util2.js"></script>
</Layout>
